*{
     box-sizing: border-box;
     margin: 0;
     padding: 0;
}

.contenedor{
     border: 5px solid black;
     width: 300px;
     margin: 30vh;
}

.caja{
     width: 100px;
     height: 100px;
     line-height: 100px; /*espaciado vertical*/
     text-align: center;
     color: white;
}

.caja-1{
     background-color: #ff6961;
}
.caja-2{
     background-color: #77dd77;
}
.caja-3{
     background-color: #e79eff;
}
.caja-4{
     background-color: #84b6f4;
}
.caja-5{
     background-color: #ee7f41;
}
.caja-6{
     background-color: #5e704a;
}